<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <h1 style= "font-size: 40px">Discover, buy, and sell incredible records</h1>
    <br>
    <%= render 'shared/search' %>
  </div>
</div>
