<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    True Vinyl is made with <i class="fas fa-heart" style="color:#FA2B57"></i> from your friends at Le Wagon <i class="fas fa-compact-disc" style="color:#FA2B57"></i>
  </div>
</div>
