<%= simple_form_for :search, url: vinyls_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="query" placeholder="Search artist, record or year" />
    <button name="button" type="submit" class="btn btn-flat">
      <!-- <i class="fas fa-search"></i> --> <i class="fas fa-compact-disc logo"></i> Search vinyls
    </button>
  </div>
<% end %>
