.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  transition: 0.5s ease;
}

.logo:hover {
  transform: rotate(180deg);
}

// .navbar-search {
//   flex-grow: 1;
//   align-content: flex-start;
// }
