<h1 class="text-center">Thank you for your review</h1>
<hr>
<br>
<br>
<div class="container">
  <h1 class="text-center"><%= cl_image_tag @review.purchase.vinyl.photo, height: 300, width: 300 , crop: :fill  %></h1>
  <br>
  <h2 class="text-center"><%= @review.content %></h2>
  <br>
  <h2 class="text-center">
    <% @review.rating.times do %>
      <i class="fas fa-star" style="color: #FA2B57"></i>
    <% end %>
  <p><%= link_to "Browse More Vinyls", vinyls_path(@vinyl), class: 'btn btn-flat', style: 'color:white; margin: 15px;'%></p>
</div>


